In [1]:
set1 = {'a','b','3'}
set2 = {'a','b','3','a','3'}

In [2]:
len(set1), len(set2)

(3, 3)

In [3]:
set1

{'3', 'a', 'b'}

In [77]:
set2

{'3', 'a', 'b'}

In [79]:
s= {}

In [81]:
type(s)

dict

In [82]:
set11 = set('바나나')

In [83]:
set11

{'나', '바'}

In [84]:
set12 = set({'바나나'})

In [85]:
set12

{'바나나'}

In [86]:
type(set12)

set

In [87]:
set3 = {{'바나나'}}

set3

TypeError: unhashable type: 'set'

In [90]:
s={1,2,3,4,5}
t={3,4,5,6,7}

In [91]:
s|t

{1, 2, 3, 4, 5, 6, 7}

In [92]:
s&t

{3, 4, 5}

In [93]:
s-t

{1, 2}

In [94]:
t-s

{6, 7}

In [95]:
s^t

{1, 2, 6, 7}

In [96]:
t^s

{1, 2, 6, 7}

In [100]:
s={1,2,3,4}
len(s)

4

In [101]:
s.add(5)
s

{1, 2, 3, 4, 5}

In [102]:
s.add(1)
s

{1, 2, 3, 4, 5}

In [103]:
s.pop()  #랜덤
s

{2, 3, 4, 5}

In [104]:
s

{2, 3, 4, 5}

In [105]:
s.pop()

2

In [106]:
s

{3, 4, 5}

In [20]:
s.discard(1)

In [21]:
s

{3, 4, 5}

In [24]:
s.remove(1)
s

KeyError: 1

In [107]:
s={1,2,3}
t={2,3,4,5}
s &=t
s

{2, 3}

In [26]:
s={1,2,3}
t={2,3,4,5}
s -= t
s

{1}

In [27]:
s={1,2,3}
t={2,3,4,5}
s^=t
s

{1, 4, 5}

In [28]:
s={1,2,3}
t={2,3,4,5}
s|=t
s

{1, 2, 3, 4, 5}

In [29]:
s.discard(7)

In [30]:
s

{1, 2, 3, 4, 5}

In [108]:
s.remove(7)
s

KeyError: 7

In [109]:
set111 = {2,4,5,7}

In [110]:
set222 = {1,2,7,9}

In [111]:
set111 | set222

{1, 2, 4, 5, 7, 9}

In [112]:
set111 & set222

{2, 7}

In [115]:
set111.union(set222)

{1, 2, 4, 5, 7, 9}

In [114]:
set222.intersection(set111)

{2, 7}

In [116]:
int_str1 =[]
for i in range(1,10):
    int_str1.append(str(i))
    
int_str1

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [33]:
int_str2 = [str(i) for i in range(1,10)]  # str(i) 대신 인트형이 와도 됨 문자형 만들려고 str씀

In [34]:
int_str1
int_str2

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [117]:
int_str_odd1=[]
for i in range(1,10):
    if i % 2 ==1:
        int_str_odd1.append(str(i))
        
int_str_odd1

['1', '3', '5', '7', '9']

In [36]:
int_str_odd2 = [str(i) for i in range(1,10) if i % 2 ==1]

In [37]:
int_str_odd1
int_str_odd2

['1', '3', '5', '7', '9']

In [43]:
odd_integers = [i for i in range(10) if i % 2==1]
squares = [pow(i, 2) for i in odd_integers]

odd_integers
squares

[1, 9, 25, 49, 81]

In [120]:
import numpy   ## import 추가 안되네.. 깔아야 될듯
zeroes1 = list(numpy,zeros(10, dtype=numpy.int))
zeroes2 = [0] * 10
zeroes3 = [0 for _ in range(10)]

zeroes1
zeroes2
zeroes3

ModuleNotFoundError: No module named 'numpy'

In [122]:
zeroes1

NameError: name 'zeroes1' is not defined

In [134]:
llis= [i for i in range(2000,3001) 
                 if i%4 ==0  and  i%100 !=0  or i%400 ==0]

print(llis)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 2204, 2208, 2212, 2216, 2220, 2224, 2228, 2232, 2236, 2240, 2244, 2248, 2252, 2256, 2260, 2264, 2268, 2272, 2276, 2280, 2284, 2288, 2292, 2296, 2304, 2308, 2312, 2316, 2320, 2324, 2328, 2332, 2336, 2340, 2344, 2348, 2352, 2356, 2360, 2364, 2368, 2372, 2376, 2380, 2384, 2388, 2392, 2396, 2400, 2404, 2408, 2412, 2416, 2420, 2424, 2428, 2432, 2436, 2440, 2444, 2448, 2452, 2456, 2460, 2464, 2468, 2472, 2476, 2480, 2484, 2488, 2492, 2496, 2504, 2508, 2512, 2516, 2520, 2524, 2528, 2532, 2536, 2540, 2544, 2548, 2552, 2556, 2560, 2564, 2568, 2572, 2576, 2580, 2584, 2588, 2592, 2596, 2604, 2608, 2612, 2616, 2620, 2624, 2628, 2632, 2636, 2640, 2644, 2648, 2652, 2656, 2660, 2664, 2668, 2672, 2676, 2680, 2684, 2688, 2692, 2696, 2704, 2708, 2712, 2716, 2720, 2724, 2728, 2732, 2736, 2740, 2744, 2748, 2752, 2756, 2760, 2764, 2768, 2772, 2776, 2780, 2784, 2788, 2792, 2796, 2800, 2804, 2808, 2812, 2816, 2820, 2824, 2828, 2832, 2836, 2840, 2844, 2848, 2852, 2856, 2860, 2864, 2868, 2872, 2876, 2880, 2884, 2888, 2892, 2896, 2904, 2908, 2912, 2916, 2920, 2924, 2928, 2932, 2936, 2940, 2944, 2948, 2952, 2956, 2960, 2964, 2968, 2972, 2976, 2980, 2984, 2988, 2992, 2996]

In [57]:
leaps=[]
for year in range(2000,3001):
    if year % 4 ==0 and year % 100 !=0 or year % 400==0:
        leaps.append(year)

In [58]:
leaps = [year for year in range(2000,3001)]

In [59]:
leaps = [year for year in range(2000,3001) if year %4==0]

In [60]:
leaps = [year for year in range(2000,3001)
         if year %4==0 and year % 100 !=0]

In [61]:
leaps = [year for year in range(2000,3001)
          if year % 4 ==0 and year % 100 !=0 or year % 400 ==0]

In [146]:
leaps

[2000,
 2004,
 2008,
 2012,
 2016,
 2020,
 2024,
 2028,
 2032,
 2036,
 2040,
 2044,
 2048,
 2052,
 2056,
 2060,
 2064,
 2068,
 2072,
 2076,
 2080,
 2084,
 2088,
 2092,
 2096,
 2104,
 2108,
 2112,
 2116,
 2120,
 2124,
 2128,
 2132,
 2136,
 2140,
 2144,
 2148,
 2152,
 2156,
 2160,
 2164,
 2168,
 2172,
 2176,
 2180,
 2184,
 2188,
 2192,
 2196,
 2204,
 2208,
 2212,
 2216,
 2220,
 2224,
 2228,
 2232,
 2236,
 2240,
 2244,
 2248,
 2252,
 2256,
 2260,
 2264,
 2268,
 2272,
 2276,
 2280,
 2284,
 2288,
 2292,
 2296,
 2304,
 2308,
 2312,
 2316,
 2320,
 2324,
 2328,
 2332,
 2336,
 2340,
 2344,
 2348,
 2352,
 2356,
 2360,
 2364,
 2368,
 2372,
 2376,
 2380,
 2384,
 2388,
 2392,
 2396,
 2400,
 2404,
 2408,
 2412,
 2416,
 2420,
 2424,
 2428,
 2432,
 2436,
 2440,
 2444,
 2448,
 2452,
 2456,
 2460,
 2464,
 2468,
 2472,
 2476,
 2480,
 2484,
 2488,
 2492,
 2496,
 2504,
 2508,
 2512,
 2516,
 2520,
 2524,
 2528,
 2532,
 2536,
 2540,
 2544,
 2548,
 2552,
 2556,
 2560,
 2564,
 2568,
 2572,
 2576,
 2580,
 2584,
 2588,
 2592,
 2596,
 2604,
 2608,
 2612,
 2616,
 2620,
 2624,
 2628,
 2632,
 2636,
 2640,
 2644,
 2648,
 2652,
 2656,
 2660,
 2664,
 2668,
 2672,
 2676,
 2680,
 2684,
 2688,
 2692,
 2696,
 2704,
 2708,
 2712,
 2716,
 2720,
 2724,
 2728,
 2732,
 2736,
 2740,
 2744,
 2748,
 2752,
 2756,
 2760,
 2764,
 2768,
 2772,
 2776,
 2780,
 2784,
 2788,
 2792,
 2796,
 2800,
 2804,
 2808,
 2812,
 2816,
 2820,
 2824,
 2828,
 2832,
 2836,
 2840,
 2844,
 2848,
 2852,
 2856,
 2860,
 2864,
 2868,
 2872,
 2876,
 2880,
 2884,
 2888,
 2892,
 2896,
 2904,
 2908,
 2912,
 2916,
 2920,
 2924,
 2928,
 2932,
 2936,
 2940,
 2944,
 2948,
 2952,
 2956,
 2960,
 2964,
 2968,
 2972,
 2976,
 2980,
 2984,
 2988,
 2992,
 2996]

In [177]:
def sort_by_word_lengt(sss):
    t = [(len(w), w )for w in sss]
    
    t.sort(reverse=True)
    
    return [w for length, w in t]

In [178]:
colors = 'red', 'blue', 'green','brown','gray'
sort_by_word_lengt(colors)

['green', 'brown', 'gray', 'blue', 'red']

In [144]:
pairs = [(x,y) for x in range(2,10)
            for y in range(1,10)]
pairs

[(2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [143]:
multi_tuple = [(x,y,x*y) for x in range(2,10)
                    for y in range(1,10)]
multi_tuple

[(2, 1, 2),
 (2, 2, 4),
 (2, 3, 6),
 (2, 4, 8),
 (2, 5, 10),
 (2, 6, 12),
 (2, 7, 14),
 (2, 8, 16),
 (2, 9, 18),
 (3, 1, 3),
 (3, 2, 6),
 (3, 3, 9),
 (3, 4, 12),
 (3, 5, 15),
 (3, 6, 18),
 (3, 7, 21),
 (3, 8, 24),
 (3, 9, 27),
 (4, 1, 4),
 (4, 2, 8),
 (4, 3, 12),
 (4, 4, 16),
 (4, 5, 20),
 (4, 6, 24),
 (4, 7, 28),
 (4, 8, 32),
 (4, 9, 36),
 (5, 1, 5),
 (5, 2, 10),
 (5, 3, 15),
 (5, 4, 20),
 (5, 5, 25),
 (5, 6, 30),
 (5, 7, 35),
 (5, 8, 40),
 (5, 9, 45),
 (6, 1, 6),
 (6, 2, 12),
 (6, 3, 18),
 (6, 4, 24),
 (6, 5, 30),
 (6, 6, 36),
 (6, 7, 42),
 (6, 8, 48),
 (6, 9, 54),
 (7, 1, 7),
 (7, 2, 14),
 (7, 3, 21),
 (7, 4, 28),
 (7, 5, 35),
 (7, 6, 42),
 (7, 7, 49),
 (7, 8, 56),
 (7, 9, 63),
 (8, 1, 8),
 (8, 2, 16),
 (8, 3, 24),
 (8, 4, 32),
 (8, 5, 40),
 (8, 6, 48),
 (8, 7, 56),
 (8, 8, 64),
 (8, 9, 72),
 (9, 1, 9),
 (9, 2, 18),
 (9, 3, 27),
 (9, 4, 36),
 (9, 5, 45),
 (9, 6, 54),
 (9, 7, 63),
 (9, 8, 72),
 (9, 9, 81)]

In [179]:
triples = [(x,y,z)
             for x in range(1,10)
                 for y in range(x+1,10)
                     for z in range(y+1,10,x+1)]
triples

[(1, 2, 3),
 (1, 2, 5),
 (1, 2, 7),
 (1, 2, 9),
 (1, 3, 4),
 (1, 3, 6),
 (1, 3, 8),
 (1, 4, 5),
 (1, 4, 7),
 (1, 4, 9),
 (1, 5, 6),
 (1, 5, 8),
 (1, 6, 7),
 (1, 6, 9),
 (1, 7, 8),
 (1, 8, 9),
 (2, 3, 4),
 (2, 3, 7),
 (2, 4, 5),
 (2, 4, 8),
 (2, 5, 6),
 (2, 5, 9),
 (2, 6, 7),
 (2, 7, 8),
 (2, 8, 9),
 (3, 4, 5),
 (3, 4, 9),
 (3, 5, 6),
 (3, 6, 7),
 (3, 7, 8),
 (3, 8, 9),
 (4, 5, 6),
 (4, 6, 7),
 (4, 7, 8),
 (4, 8, 9),
 (5, 6, 7),
 (5, 7, 8),
 (5, 8, 9),
 (6, 7, 8),
 (6, 8, 9),
 (7, 8, 9)]

In [66]:
pass_grad = [letter + sign for letter in 'ABCD' for sign in '+0-']
pass_grad

['A+', 'A0', 'A-', 'B+', 'B0', 'B-', 'C+', 'C0', 'C-', 'D+', 'D0', 'D-']

In [180]:
sku =[]
for gender in 'FM':
    for size in 'SMLX':
        if gender == 'F' and size =='X':
            continue
        for color in 'WGRB':
            sku.append(gender + size + color)

            
sku

['FSW',
 'FSG',
 'FSR',
 'FSB',
 'FMW',
 'FMG',
 'FMR',
 'FMB',
 'FLW',
 'FLG',
 'FLR',
 'FLB',
 'MSW',
 'MSG',
 'MSR',
 'MSB',
 'MMW',
 'MMG',
 'MMR',
 'MMB',
 'MLW',
 'MLG',
 'MLR',
 'MLB',
 'MXW',
 'MXG',
 'MXR',
 'MXB']

In [188]:
ssku = [gender+size+color
             for gender in 'FM'
                  for size in 'SMLX'  
                  for color in 'WGRB'
                          if not (gender == 'F' and size == 'X')]

ssku

['FSW',
 'FSG',
 'FSR',
 'FSB',
 'FMW',
 'FMG',
 'FMR',
 'FMB',
 'FLW',
 'FLG',
 'FLR',
 'FLB',
 'MSW',
 'MSG',
 'MSR',
 'MSB',
 'MMW',
 'MMG',
 'MMR',
 'MMB',
 'MLW',
 'MLG',
 'MLR',
 'MLB',
 'MXW',
 'MXG',
 'MXR',
 'MXB']

In [237]:
x = [i* i for i in (-3,-2,-1,0,1,2,3)]
y = {i* i for i in (-3,-2,-1,0,1,2,3)}

x

[9, 4, 1, 0, 1, 4, 9]

In [199]:
y

{0, 1, 4, 9}

In [235]:
x = [abs(i) for i in range(-9,10)]
y = [abs(i) for i in range(-9,10)]

x
y

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
import os

file_list = os.listdir()
file_list

['.eclipse',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.p2',
 '.tooling',
 '2DAY.ipynb',
 '3D Objects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'day3.ipynb',
 'Desktop',
 'Documents',
 'Downloads',
 'eclipse',
 'Favorites',
 'Intel',
 'IntelGraphicsProfiles',
 'Links',
 'Local Settings',
 'MicrosoftEdgeBackups',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{8ebe95f6-3dcb-11e8-a9d9-7cfe90913f50}.TxR.0.regtrans-ms',
 'NTUSER.DAT{8ebe95f6-3dcb-11e8-a9d9-7cfe90913f50}.TxR.1.regtrans-ms',
 'NTUSER.DAT{8ebe95f6-3dcb-11e8-a9d9-7cfe90913f50}.TxR.2.regtrans-ms',
 'NTUSER.DAT{8ebe95f6-3dcb-11e8-a9d9-7cfe90913f50}.TxR.blf',
 'NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TM.blf',
 'NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{8ebe95f7-3dcb-11e8-a9d9-7cfe90913f50}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Templates',
 'Videos',
 '새 폴더',
 '시작 메뉴']

In [204]:
py_file = {file for file in file_list
                       if file.lower().endswith(('.text','.pyw'))}

py_file

set()

In [205]:
x = { i : pow(i,2) for i in range(-9,10)}
print(x)

{-9: 81, -8: 64, -7: 49, -6: 36, -5: 25, -4: 16, -3: 9, -2: 4, -1: 1, 0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [207]:
kor = dict(사과='apple', 블루베리='blueberry', 키위='kiwi')

kor

{'사과': 'apple', '블루베리': 'blueberry', '키위': 'kiwi'}

In [209]:
i, j, k = '드럼', '기타', '피아노'

print(i,j,k)

드럼 기타 피아노

In [210]:
i,j=j,k
print(i,j,k)

기타 피아노 피아노

In [211]:
x,_,y,_ = 1,2,3,4

In [212]:
x

1

In [213]:
y

3

In [215]:
x

1

In [217]:
2*3

6

In [218]:
_

4

In [219]:
t= 3.14, [5,-3], 'green', ('드럼', '기타')

In [220]:
a,b,c,d =t

In [221]:
a

3.14

In [222]:
b

[5, -3]

In [223]:
c

'green'

In [224]:
d

('드럼', '기타')

In [225]:
x,y,*z = 3.14, [5,-3], 'green', ('드럼', '기타')

In [226]:
x

3.14

In [227]:
y

[5, -3]

In [228]:
z

['green', ('드럼', '기타')]

In [254]:
from collections import namedtuple
RGBtuple = namedtuple('RGB', ['red', 'green', 'blue'])
RGBtuple

__main__.RGB

In [243]:
x1 =RGBtuple(255,51,102)

In [244]:
x2 =RGBtuple(blue= 255, red= 102, green =153)

In [245]:
x3 =RGBtuple(0,blue=204,green=51)

In [247]:
x3

RGB(red=0, green=51, blue=204)

In [255]:
r,g,b= x2
r,g,b

(102, 153, 255)

In [249]:
x1[0]

255

In [250]:
x3.red

0

In [251]:
from collections import namedtuple
Python = namedtuple('student', 'id, name, name, exam, exam, grade' , rename =True,
                    module='examples')
Python

examples.student

In [252]:
s =  Python('12345','홍', '길동',91,95,'A0')
s

student(id='12345', name='홍', _2='길동', exam=91, _4=95, grade='A0')

In [285]:
import string
words = {}   

strip = string.whitespace+ string.punctuation+string.digits
filename = input('asd.txt')
with open(filename, mode='r', encoding='utf-8') as f:
       for line in f:
               for word in line.lower().split():
                    word = word.strip(strip)
                    if len(word) == 0:  continue
                    if word not in words.keys():
                        words[word] = 1
                            
                    else:
                        words[word] +=1
                                
for word in sorted(words): 
    print('<{}> : {}번 출현'.format(word, words[word]))

asd.txtasd.txt
<aaaaaaaa> : 1번 출현